body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  
  }

*{
  margin: 0;
  padding: 0;
}


h1{

margin: 10px;

}


ol{
  list-style: inside;
  list-style-image: url(/img/unchecked_16.png);
  counter-reset: count;
  padding-left: 10px;
  width: 800px;

}

li{
  padding: 10px;
  padding-left: 60px;
}

ol li::before{
  padding-left: 5px;

}

ol li.grey{
  list-style-image: url(/img/checked_16.png);
}
.dark_blue{
background-color: #a5ccda;

}

.blue{
  background-color: #add8e6;
}

.grey{
  background-color: #e2e2e2;
}

